 /*font-face*/
@font-face
{
    font-family: "B612Mono-Bold";
    src: url('../fonts/B612_Mono/B612Mono-Bold.ttf') format('truetype'),
         url('../fonts/B612_Mono/B612Mono-BoldItalic') format('truetype'),
         url('../fonts/B612_Mono/B612Mono-Italic.ttf') format('truetype'),
         url('../fonts/B612_Mono/B612Mono-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style 

}

@font-face {
    font-family: 'Dekko';
    src: url('../fonts/Dekko/Dekko-Regular.ttf') format('truetype');
}

body
{
    background-image: url('../images/image_futuriste.jpeg');
}

h1{
    color: rgba(199, 127, 19, 0.886);
    font-family: 'B612Mono-Bold', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Dekko', Helvetica, sans-serif;
}

h1,h1+p
{
    text-align: center;
}

img
{
    position: absolute;
    right: 15px;
    top: 15px;
    border: 3px sandybrown;
    box-shadow: 4px 4px 4px black;
    width: 10%;
}

h2
{
    color: rgb(14, 96, 19);
}

h3
{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: rgb(14, 96, 19);
}