 /*font-face*/



h1{
    color: rgba(199, 127, 19, 0.886);
}

body
{
    background-image: url('../images/image_futuriste.jpeg');
}

h1,h1+p
{
    text-align: center;
}

img
{
    position: absolute;
    right: 15px;
    top: 15px;
    border: 3px sandybrown;
    box-shadow: 4px 4px 4px black;
    width: 10%;
}

h2
{
    color: rgb(14, 96, 19);
}